*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top, #6E3A21 -5.91%, #a45834 111.58%);
}
.clients{
    background-color: #a45834;
}
.clients__card{
    display: grid;
    gap: 2em;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.clients_id{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 200px;
    background-color: #a45834;
    grid-column: 10px;
    grid-row: 10px;
    margin: 10px;
}


