
nav.navbar {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition:  0.32s ease-in-out;
    background-color: #5e331f;
    
  }
  .Dropdown {
    margin-left: 200px;
    color: #fff;
  }

  .icon{
    width: 1%;

  }

  nav.navbar.scrolled {
    padding: 0px 0;
    background-color: #6E3A21;
  }

  /* nav.navbar a.navbar-brand {
      width: 15%;
      font-size: 50px;
      color: #fff;
      display: flex;
      align-content: center;
      
  } */

  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 20px;
    opacity: 0.75;
    text-decoration: none;
  }

  nav.navbar .navbar-nav a.nav-link.navbar-link:hover ,
  nav.navbar .navbar-nav a.nav-link.navbar-link.active {
      opacity: 1;
  }

  nav.navbar active-navbar-link nav-link active {
    color: #6E3A21;
  }

  span.navbar-text {
      display: flex;
      align-items: center;
  }

  .me-auto{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-left: 54px;
  }

  .navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
  }
  .navbar-text button span {
    z-index: 1;
  }
  .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .navbar-text button:hover {
    color: #121212;
  }
  .navbar-text button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }
  nav.navbar .navbar-toggler:active,
  nav.navbar .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
  }

  @media screen and (max-width: 400px) {

    .me-auto{
      display: inline-flex;
      flex-direction: column;
      align-items: center baseline;
      align-content: center;
      margin-left: 54px;
    }

    nav.navbar .navbar-nav .nav-link.navbar-link {
      font-weight: 400;
      color: #fff !important;
      letter-spacing: 0.8px;
      padding: 10px;
      font-size: 20px;
      opacity: 0.75;
      text-decoration: none;
    }

    
  }

  